/** @format */

@media (max-width: 600px) {
	// Showcase
	#showcase {
		#slideWiz {
			width: 100%;
			display: block;

			.window {
				width: 100%;
				.carousel-inner {
					.carousel-title {
						color: #fff;
						font-weight: 700;
						background-color: rgba(0, 0, 0, 0.5);
						padding: 0.4rem;
					}

					.carousel-body {
						background-color: rgba(0, 0, 0, 0.5);
						padding: 0.4rem;
						color: #fff;
					}

					.carousel-item {
						height: 100%;
						img {
							width: 100%;
						}
					}
				}
			}

			.contact_overview {
				width: 90%;
				height: 100%;
				flex-direction: column;
				display: flex;
				margin: auto;

				.material_logo {
					width: 100%;
					margin-top: 1rem;
					// padding: 0.4rem 0;
					margin: auto;
					img {
						margin: 0.3rem 0;
						width: 70%;
						height: 100px;
						box-shadow: 0.1px 0.1px 10px rgba(0, 0, 0, 0.5);
					}
				}
				.contact_now {
					button {
						outline: none;
						border: none;
						padding: 1rem;
						cursor: pointer;
						box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
					}
				}
			}
		}
	}

	.nav-open,
	.nav-close {
		display: unset;
		top: 0rem;
		right: 0rem;
		padding: 1rem;
	}

	.nav-close {
		display: none;
	}
	#navbar {
		// background: #222831;
		// height: auto;
		display: block;
		padding: 0.5rem 0 0 0.3rem;
		width: 100%;
		height: 60px;
		padding: 0;

		h1 {
			width: auto;
			text-align: left;
			padding: 1rem 0 0 0.5rem;
		}
		.icons {
			display: none;
		}

		.nav-links {
			display: none;
			margin-top: 2rem;
			li {
				list-style: none;
			}
		}
	}

	#products {
		.product-container {
			flex-wrap: wrap;

			.product {
				width: 100%;
			}
		}
	}

	#show-box {
		// flex-wrap: wrap;
		padding: 1rem;

		.left-box {
			h1 {
				font-size: 1.4rem;
				padding: 0;
				text-align: center;
			}
			.btn-white-black {
				padding: 0.5rem;
				margin: 0;
				margin-top: 1.4rem;
				width: auto;
				z-index: 1;
			}
		}
		.right-box {
			img {
				width: 100%;
				height: 50%;
				z-index: -1;
			}
		}
	}

	#product-description {
		flex-wrap: wrap;
		width: 100%;
		height: auto;
		padding: 0.6rem;

		.right-side,
		.left-side {
			width: 100%;
		}

		.left-side {
			h1 {
				font-size: 1.5rem;
				text-align: justify;
			}
		}

		.right-side {
			p {
				width: 100%;
				text-align: justify;
			}
		}
	}

	#mp-product {
		flex-wrap: wrap;

		.product {
			width: 100%;

			.price-details {
				display: flex;
				justify-content: space-around;
				padding: 0.4rem 0.7rem;
			}

			img {
				padding: 0.3rem;
			}
		}
	}

	#product-overview {
		height: 300px;
		flex-wrap: wrap;
		.left-side {
			width: 100%;
			height: 100%;

			.btn-white-black {
				margin: auto;
			}
		}

		.right-side {
			padding: 0;
			width: 100%;
			display: none;
		}
	}

	footer {
		display: block !important;
		padding-bottom: 20px;
		// margin-top: 10rem;

		.touch,
		.service,
		.about {
			width: 100%;
			margin: auto;
			text-align: center;
			margin-top: 1rem;
		}

		.about {
			font-size: 1.4rem;
		}
	}

	#copyrights {
		justify-content: space-evenly;
		flex-wrap: wrap;
		text-align: center;
		p {
			display: block;
			padding: 0.5rem 0;
			width: 100%;
		}
	}

	.sign-up-form-wrapper {
		.bg-angle {
			top: 30rem;
			width: 200%;
			height: 200%;
			transform: rotate(-8deg);
		}

		.header-title {
			h1 {
				width: 85%;
				margin: auto;
			}
			p {
				font-size: 1.3rem;
				width: 90%;
			}
		}

		.form-container {
			form {
				margin: 1rem;
			}

			.right-box {
				margin: 2rem 1rem 1.5rem;
				padding: 0;
			}
		}
	}

	// Product Page
	#product_list {
		display: block;
		width: 100%;
		padding: 1rem 1rem;

		.list-container {
			width: 100%;

			.list {
				width: 100%;

				.segment-title {
					width: 100%;
				}
			}
		}
	}
}
